# Your site name
SITE_NAME=Digirobo

# True for dev-builds, False for production
DEBUG=True

# Use https://www.browserling.com/tools/random-hex for example, 64-length hex are usually good enough
SECRET_KEY=d178041cd30ed3b5911e4d5d9ee8cf3a42e0171890d1cf50d9016f072bc5fd68

# The name of the project for docker-compose
COMPOSE_PROJECT_NAME=digirobo
